body{
    background-color: black;
}
main{
    overflow-x: hidden;
    color: #e3d0c9;
}

#cabecalho{
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.9);
    background-color: black;
    opacity: 98%;
    color: white;
}
.navbar-brand{
    width: 120px;
}
.nav-link{
    color: #e3d0c9;
}
.nav-link:hover{
    color: #e3d0c9;
    opacity: 80%;
}
.navbar-toggler{
    background-color:grey;
    border: none;
    color: white;
}
.nav-pills .nav-link.active{
    color: white;
    background-color:grey;
}

.hero{
    background-image: url(../images/hero--desktop.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    margin-top: -120px;
    position: relative;
}
.background{
    position: absolute;
    top: 200px;
    left: 701px;
    padding-top: 80px;
}
.logo{
    width: 500px;
}
.informations{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0 ;
    padding: 5px 20px;
    margin: 0 auto;
}
.informations--item{
    border-right: 2px solid gray;
    margin-top: 16px;
}
.informations--item:last-child{
    border-right: none;
}
.informations--item--description{
    color: grey;
    font-size: 14px;
    text-decoration: none;
    font-size: 16px;
}
.link{
    transition: .5s ease;
}
.link:hover{
    color: white;
}
.contact{
    font-size: 18px;
    padding: 8px 18px;
    background-color: #e3d0c9;
    color: #1c1d1d;
    border-radius: 8px;
    font-weight: bold;
    opacity: 70%;
    transition: .5s ease;
}
.contact:hover{
    opacity: 100%;
    color: #1c1d1d;
}


#aboutUs{
    padding: 100px 0 30px;
    background-color: #1c1d1d;
}
.line{
    height: 3px;
    width: 100vw;
    background-color: #e3d0c9;
}
.line-right{
    margin-top: -60px;
    margin-left: 520px;
    margin-bottom: 60px;
}
.line-left{
    margin-left: -520px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.imageBarberBeardTrim{
    border-radius: 0 20px 20px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.card-title{
    font-family: 'Instrument Serif', serif;
    font-size: 65px;
}
.card-subtitle{
    font-size: 24px;
}
.card-body{
    text-align: justify;
}

#profissionais{
    padding-top: 120px;
}
.professionals--list{
    margin-top: 100px;
    margin-bottom: 100px;
}
.barbers{
    border-radius: 8px 8px 0 0;
}
.botaoAgendar{
    margin: 0 30px;
    padding: 12px 90px;
    text-align: center;
    background-color: #e3d0c9;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    opacity: 60%;
    transition: .5s ease;
}
.botaoAgendar:hover{
    opacity: 100%;
    color: black;
}
.profissionais--background{
    margin-top: -400px;
    width: 100vw;
    height: 350px;
    background-color: #1c1d1d;
}

#servicos{
    padding: 130px 0 100px;
    background-color: #1c1d1d;
}
.price--old{
    opacity: 70%;
    text-decoration: line-through;
}
.botaoAgendarServicos{
    text-align: center;
    padding: 8px 140px;
    background-color: #e3d0c9;
    text-decoration: none;
    color: #1c1d1d;
    font-weight: bold;
    opacity: 60%;
    border-radius: 0 0 8px 8px;
    transition: .5s ease;
}
.botaoAgendarServicos:hover{
    color: #1c1d1d;
    opacity: 100%;
}


.hero--contatos{
    background-image: url(../images/hero--contatos.jpg.png);
    padding: 130px 0 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.card--informacoes{
    padding: 16px;
    background-color: #e3d0c9;
    border-radius: 8px;
    color: black;
}
.form-control{
    resize: none;
}
.btn{
    background-color: #e3d0c9;
    padding: 8px;
    font-weight: bold;
    opacity: 60%;
    transition: .5s ease;
}
.btn:hover{
    opacity: 100%;
}
.contatos--item{
    color: #1c1d1d;
    font-size: 24px;
    text-decoration: none;
    opacity: 60%;
    transition: .5s ease;
}
.endereco{
    font-size: 18px;
}
.contatos--item:hover{
    color: #1c1d1d;
    opacity: 100%;
}
.card--rodape{
    font-size: 12px;
    text-align: end;
}
.footer{
    color: #e3d0c9;
}
.footer--link{
    color: #e3d0c9;
    font-weight: bold;
    opacity: 30%;
    text-decoration: none;
    transition: .5s ease;
}
.footer--link:hover{
    color: #e3d0c9;
    opacity: 100%;
}

@media (max-width:767px){
    .navbar-brand{
        width: 100px;
    }
    .hero{
        background-image: url(../images/man-barbershop-salon-doing-haircut-beard-trim.jpg);
    }
    .card-title{
        font-size: 45px;
    }
    .card-subtitle{
        font-size: 18px;
    }
    .line-right{
        margin-left: 100px;
        margin-bottom: 30px;
    }
    .line-left{
        margin-left: -10px;
    }
    .background{
        top: 205px;
        left: 37px;
    }
    .logo{
        max-width: 300px;
    }
    .imageBarberBeardTrim{
        display: none;
    }
    .informations{
        display: none;
    }
    .professionals--list{
        text-align: center;
    }
    .professionals--list--item{
        margin-bottom: 60px;
    }
    .destaques{
        text-align: start;
    }
    .servicos--menu{
        margin-bottom: 30px;
    }
    .submenu--espaco{
        margin-bottom: 60px;
    }
}

@media (min-width:768px) and (max-width: 1023px){
    .hero{
        background-image: url(../images/man-barbershop-salon-doing-haircut-beard-trim.jpg);
    }
    .informations--item--description{
        color: white;
    }
    .contact{
        color: #1c1d1d;
    }
    .background{
        top: 334px;
        left: 160px;
    }
    .imageBarberBeardTrim{
        display: none;
    }
    .card-title{
        font-size: 50px;
    }
    .line-right{
        margin-left: 210px;
    }
    .line-left{
        margin-left: -20px;
    }
    .logo{
        max-width: 600px;
    }
    .botaoAgendarServicos{
        padding: 8px 105px;
    }
}
@media (min-width:1024px) and (max-width: 1800px){
    .background{
        position: absolute;
        top: 100px;
        left: 480px;
        padding-top: 80px;
    }
    .logo{
        width: 300px;
    }
}