body{
    background-color: black;
}
main{
    overflow-x: hidden;
    color: #e3d0c9;
}

#cabecalho{
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.9);
    background-color: black;
    opacity: 98%;
    color: white;
}
.navbar-brand{
    width: 120px;
}
.nav-link{
    color: #e3d0c9;
}
.nav-link:hover{
    color: #e3d0c9;
    opacity: 80%;
}
.navbar-toggler{
    background-color:grey;
    border: none;
    color: white;
}
.nav-pills .nav-link.active{
    color: white;
    background-color:grey;
}

.hero{
    background-image: url(../images/young-man-barbershop-trimming-hair.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 60%;
    margin-top: -120px;
    position: relative;
}
.background{
    position: absolute;
    top: 200px;
    left: 701px;
    padding-top: 80px;
}
.logo{
    width: 500px;
}
.informations{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0 ;
    padding: 5px 20px;
    margin: 0 auto;
}
.informations--item{
    border-right: 2px solid gray;
    margin-top: 16px;
}
.informations--item:last-child{
    border-right: none;
}
.informations--item--description{
    color: grey;
    font-size: 14px;
    text-decoration: none;
    font-size: 16px;
}
.link:hover{
    color: white;
}



#aboutUs{
    padding: 100px 0 30px;
    background-color: #1c1d1d;
}
.line{
    height: 3px;
    width: 100vw;
    background-color: #e3d0c9;
}
.line-right{
    margin-top: -60px;
    margin-left: 520px;
    margin-bottom: 60px;
}
.line-left{
    margin-left: -520px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.imageBarberBeardTrim{
    border-radius: 0 20px 20px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.card-title{
    font-family: 'Instrument Serif', serif;
    font-size: 65px;
}
.card-body{
    text-align: justify;
}

#profissionais{
    padding-top: 120px;
}
.professionals--list{
    margin-top: 100px;
    margin-bottom: 100px;
}
.barbers{
    border-radius: 8px 8px 0 0;
}
.botaoAgendar{
    margin: 0 30px;
    padding: 12px 90px;
    text-align: center;
    background-color: #e3d0c9;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    opacity: 60%;
}
.botaoAgendar:hover{
    opacity: 100%;
    color: black;
}

.profissionais--background{
    margin-top: -400px;
    width: 100vw;
    height: 350px;
    background-color: #1c1d1d;
}




@media (max-width:767px){
    .navbar-brand{
        width: 100px;
    }
    .hero{
        background-image: url(../images/man-barbershop-salon-doing-haircut-beard-trim.jpg);
    }
    .background{
        top: 205px;
        left: 37px;
    }
    .logo{
        max-width: 300px;
    }
    .imageBarberBeardTrim{
        display: none;
    }
    .informations{
        display: none;
    }
}

@media (min-width:768px) and (max-width: 1023px){
    .hero{
        background-image: url(../images/man-barbershop-salon-doing-haircut-beard-trim.jpg);
    }
    .background{
        top: 334px;
        left: 160px;
    }
    .logo{
        max-width: 600px;
    }
}